{{#link-to 'restaurant.index'}}fuck yes.{{/link-to}}

<br>

Schedules for {{restaurant.name}}
<br>

<ul>
{{#each model.schedules}}
<li>{{time}} {{input type='checkbox' checked=booked}} <button {{action 'deleteSchedule' this}}>Delete</button></li>
{{/each}}
</ul>

<br>

<div class='search-div'>
{{ember-selectize
content=timings
optionLabelPath="content.name"
optionValuePath="content.name"
prompt="Create schedule"
selection=timeSelect
}}
</div>

<button {{action 'createSchedule'}}>Create schedule</button>
