{{input type='text' value=newRestaurant.name placeholder='Name...'}}
{{input type='text' value=newRestaurant.cuisine placeholder='Cuisine'}}
<button {{action 'saveRestaurant'}}>Save</button>


<ul>
  {{#each model}}
  <li>{{#link-to 'restaurant' this}} {{this.name}} ({{this.cuisine}}) {{/link-to}}</li>
  {{/each}}
</ul>
