<div class='container'>
  <div class='row'>
    <div class='col-md-3 child-sidebar'> <!-- Sidebar -->
    </div>
    <div class='col-md-9'>
      <h1>Administration</h1>
      <h3>Add a new restaurant</h3>
      <form>
        <div class='form-group'>
          <div class='input-group input-group-lg'>
            <span class="input-group-addon" id="sizing-addon1">Restaurant name</span>
            {{input type='text' value=newRestaurant.name placeholder='Name...' class='form-control'}}
          </div>
        </div>
        <div class='form-group'>
          <div class='input-group input-group-lg'>
            <span class="input-group-addon" id="sizing-addon1">Cuisine</span>
            {{input type='text' value=newRestaurant.cuisine placeholder='Cuisine' class='form-control'}}
          </div>
        </div>
        <button class='btn btn-primary' {{action 'saveRestaurant'}}>Save</button>
      </form>
      <h3>Existing restaurants</h3>
      {{#if isRestaurants}}
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Name</th>
            <th>Cuisine</th>
          </tr>
        </thead>
        <tbody>
          {{#each restaurant in model}}
          <tr class="tr-class-1">
            <td>{{#link-to 'restaurant' restaurant}} {{restaurant.name}}{{/link-to}}</td>
            <td>{{restaurant.cuisine}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{else}}
      <h4>There are currently no configured restaurants</h4>
      {{/if}}
    </div>
  </div> <!-- Row -->
</div>
