<div class="jumbotron" id="mainjumbotron">
  <div class="container">
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-8'>
        <h2>I want to book a table in <span class="main-options">{{cityName}}</span>
          for  <span class='main-options'>{{peopleRequiredString}}</span>
          <br>on
          {{date-picker date=bookingDate valueFormat='YYYY-MM-DD' format='Do MMM YYYY' class='main-options'}}  at
          <span class='main-options'>{{bookingTime}}</span>
        <br>
        <p>
          <div class="input-group input-group-lg">
            <span class='searchbox-input'>
              {{input type='text'
              value=searchText
              class='main-options'
              placeholder='Restaurant name...'}}
            </span>
          </div><!-- /input-group -->
        </p>
          <button class='ghost-button'>Book now</button> <!-- Integrate the button with an action later -->
        </h2>
      </div> <!-- /middle column in container -->
    </div> <!-- /row -->
  </div>  <!-- /container -->
</div>
<!-- end of jumbotron -->
<div class="container">

  {{!-- Booking for: {{newSearch.bookingDate}} in {{newSearch.cityName}} --}}

</div>

<ul>
  {{#each res in searchResults}}
  <li>{{#link-to 'restaurants'}}{{res}}{{/link-to}}</li>
  {{/each}}
</ul>
